@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Style Default */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

/* Variabel Root */

:root {
    --color-dark :hsl(252,30%,17%) ;
    --color-light :hsl(257, 10%, 87%) ;
    --color-gray :hsl(252,15%,65%) ;
    --color-primary :hsl(252,75%,60%) ;
    --color-secondary :hsl(252,100%,90%) ;
    --color-success :hsl(252,96%,65%) ;
    --color-danger :hsl(0,95%,65%) ;
    --color-black :hsl(252,30%,10%) ;
    --color-white : hsl(0, 0%, 100%) ;

    --border-radius : 2rem ; 
    --card-border-radius : 1rem ;
    --btn-padding : 0.8rem 4rem ;
    --card-padding : 0.7rem ;
    --search-padding : 0.6rem 4rem ;

    /* Sticky Position */

    --sticky-top-left : 5.4rem ;
    --sticky-top-right : -18rem ;


}



body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}


/* Gaya Sifat */
.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}

/* General Style Navigasi */

nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 20;
}

.container {
    width:80% ;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.container .searchBar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.container .searchBar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark) ;
}

nav .searchBar input[type="search"]::placeholder {
    color: var(--color-gray);
}


nav .buatContainer {
    display: flex;
    align-items: center;
    gap: 2rem;   
}

.profilPic {
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
    
    /* position: center; */
    
}

.profilPic img {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    

}

.Btn {
    text-align: center;
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem; 
}

.Btn:hover {
    opacity: 0.8;
}

.primary {
    background: var(--color-primary);
    color: white;
}


/* ========================= Main section style =====================*/

/* Default style */

main {
    position: relative;
    top: 5.4rem;
}


main .container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 1rem;
    position: relative;
}

/* ============================ sidebar menu ===================== */

main .container .kiri {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);

}

main .container .kiri .profilBox {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

/*================= Sidebar ================= */

main .container .kiri .bagMenu .sideBar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 0.5rem hsl(var(--color-primary), 75%,60% 25%);
    

}


.menu-item {
    position: relative;
    margin: 2rem 0;

}

.menu-item span {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 3.5rem;
    transition: all 300ms ease;
    position: relative;
    
}

.menu-item span:hover {
    background: var(--color-light);
    padding-left: 1rem;
    
}

.menu-item span i {
    font-size: 1.7rem;
    color: gray;
    margin-left: 0.4rem;
    position: relative;
}

.menu-item span i .jumlahNotif {
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.6rem;
}

.menu-item span h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
    color: var(--color-gray);
}

.kiri .sideBar .active i, .kiri .sideBar .active h3 {
    color: var(--color-primary);
    
} 

.kiri .sideBar .active span {
  background: var(--color-light);  
  padding-left: 1rem;
  
}

.kiri .sideBar .active span::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--color-primary);
    border-radius: var(--card-border-radius);
}

/* Tombol post */

.kiri .Btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding:1rem 0 ; 
}


/* ============== Notifikasi Popup ======================== */

#notifikasiId .notifikasi-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    display: none;
}

.kiri .notifikasi-popup::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-white);
    display: block;
    position: absolute;
    left: -0.5rem;
    transform: rotate(45deg);
    
}

.kiri .notifikasi-popup > div {
    display: flex;
    flex-wrap: nowrap;
    
}



/* ===================== Bagian Tengah ====================================== */

.tengah {
    overflow: hidden;
}


.tengah .storiBox  {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    height: 12rem;
    
    
} 

.tengah .storiBox .story {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    position: relative;
}

.tengah .storiBox .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent , rgba(0,0,0,1));
    position: absolute;
    bottom: 0;
    z-index: 1;
    border-radius: var(--card-border-radius);
    
}

.tengah .storiBox .story .nama {
    z-index: 2;
}

.tengah .storiBox .story:nth-child(1) {
    background: url(https://i.pinimg.com/originals/7f/1b/fd/7f1bfddfce6d679a37e17e627970a396.jpg);
    background-size: cover;
    background-position: center;

}

.tengah .storiBox .story:nth-child(2) {
    background: url(https://i.pinimg.com/736x/2a/a8/b3/2aa8b3c3a9b2a9c1bd2f84c02b883d50.jpg);
    background-size: cover;
    background-position: center;

}
.tengah .storiBox .story:nth-child(3) {
    background: url(https://i.pinimg.com/736x/9c/a1/5f/9ca15f2a1705a52585d4cb2c918c4777.jpg);
    background-size: cover;
    background-position: center;
}
.tengah .storiBox .story:nth-child(4) {
    background: url(https://i.pinimg.com/736x/e5/e7/86/e5e786a31933d05ba1aef829f6d6a67a.jpg);
    background-size: cover;
    background-position: center;
}
.tengah .storiBox .story:nth-child(5) {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTChpJapg0D82xeQIcCoqF8zpQxJavFf-Rin6JOAkR9J3YxFYM_N2njDxTUVz4wIYltEuQ&usqp=CAU);
    background-size: cover;
    background-position: center;
}
.tengah .storiBox .story:nth-child(6) {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiP-sGkYrJvIzdauDjn1bi2iQ49iOlFwpWtg&usqp=CAU);
    background-size: cover;
    background-position: center;
}
.tengah .storiBox .story:nth-child(7) {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjP4dMGR8CX16O3xkzy8zLFxyFDAqvU2oRucePiGKELiT_tv8Kpl-DficqfG6T90Hqk4w&usqp=CAU);
    background-size: cover;
    background-position: center;
}

.tengah .storiBox .story:nth-child(8) {
    background: url(https://i.pinimg.com/736x/e5/e7/86/e5e786a31933d05ba1aef829f6d6a67a.jpg);
    background-size: cover;
    background-position: center;
}


.tengah .storiBox .story .profilPic {
    border: 3px solid var(--color-primary);
}

/* ========== Bagian buat post ================ */

.tengah .buatPost {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.tengah .buatPost input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;

} 

/* ==================== Feed ======================= */
.tengah .feedBox .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.feed .profilFeed  {
    display: flex;
    justify-content: space-between;
}

.feed .profilFeed .user {
    display: flex;
    gap: 1rem;
}

.feed .feedFoto {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;    
}

.feed .feedFoto img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.feedBox .feed .btnAksi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin: 0.6rem;
}

.feedBox .feed .liked {
    display: flex;
}

.feed .liked span {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-left: -0.5rem;
    margin-top: -0.3rem;
    overflow: hidden;
    display: block;
    border: 2px solid var(--color-white);
}

.liked span img {
    width: 100%;
}

.feed .liked span:first-child {
    margin-left: 0;
}

.feed .caption p {
    margin-left: 0;
}




/* .profilFeed .user .bioFeed {
    
} */
